!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fitofit
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .position-fixed.vw-100.d-flex.flex-column.on-top
    - flash.each do |category, message| 
      %div{ class: "bg-#{category} bg-gradient text-white text-center full-width p-2"}
        = message
    %p.notice= notice
    %p.alert= alert
    = yield
